@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --color-brand-50: #f0f7ff;
  --color-brand-100: #e0effe;
  --color-brand-200: #b9dfff;
  --color-brand-300: #7cc2fd;
  --color-brand-400: #36a4fa;
  --color-brand-500: #0c87eb;
  --color-brand-600: #005fcc;
  /* Navy Primary */
  --color-brand-700: #004baff;
  --color-brand-800: #064089;
  --color-brand-900: #0a356e;
  /* Deep Navy */
  --color-brand-950: #072246;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}